# Ignore all
*/
/*

# Avoid ignoring directory
!Content/
!Content/**/
!Config/
!Config/**/

Content/StarterContent

!*.uasset
!*.umap
!*.ini

# Avoid ignoring default file
!.gitignore
!.gitattributes
!README.md
!LICENSE
!BFC.uproject
# Ignore some directory
.*/